// Fonts and more.
// $font-family-sans-serif: Arial, sans-serif;

$font-weight-normal: 400;

$white: #fff;
$black: #000;

// Grays.
$gray-900: rgb(43, 48, 52);
$gray-800: rgb(76, 84, 90);
$gray-700: rgb(110, 120, 128);
$gray-600: rgb(153, 165, 177);
$gray-500: rgb(178, 191, 202);
$gray-400: rgb(192, 203, 212);
$gray-300: rgb(207, 215, 222);
$gray-200: rgb(221, 227, 232);
$gray-100: rgb(236, 239, 242);

// Base (centre) grey.
// #B2BFCA rgb(178, 191, 202)

// Hex range.
// #2B3034
// #4C545A
// #6E7880
// #909BA5
// #B2BFCA
// #C0CBD4
// #CFD7DE
// #DDE3E8
// #ECEFF2

// Other colours.
$blue:      #0d6efd !default;
$indigo:    #6610f2 !default;
$purple:    #6f42c1 !default;
$pink:      #d63384 !default;
$red:       #FF284B !default;
$orange:    #FFB11A !default;
$yellow:    #ffc107 !default;
$green:     #198754 !default;
$teal:      #48BB78 !default;
$cyan:      #6BDDFF !default;

// Basic colours.
$primary:       $pink !default;
$secondary:     $purple !default;
$success:       $teal !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$link-color:                  $secondary !default;
$link-decoration:             none;

// Input padding includes buttons.
$input-btn-padding-y:         .475rem;

// Base radius.
$border-radius:               .3rem;
$border-radius-sm:            .25rem;
$border-radius-lg:            .4rem;
$border-radius-xl:            1rem;
$border-radius-xxl:           1.875rem;

// Header spacing.
// $headings-margin-bottom:      $spacer;
$headings-font-weight:        400;

// Tables
$table-cell-padding-y:        .75rem;
$table-cell-padding-x:        .75rem;

// Disable smooth scroll
// NOTE: Enabling this causes issues with selenium due to scroll delays
$enable-smooth-scroll:        false;

// Input focus rings.
$input-btn-focus-width:       0;
$btn-focus-width:             .25rem;
$input-btn-focus-box-shadow:  none;

// Spacer.
$spacer: 1rem;

// Dropdown item spacing.
$dropdown-item-padding-y:           $spacer * .5;
$dropdown-item-padding-x:           $spacer;

// Modal footer gap.
$modal-footer-margin-between:       2rem; // For some reason BS5 halves this unit wherever it's used.

// Modal backdrop.
$modal-backdrop-bg:                 rgba(0, 0, 0, .5);

// Progress bars.
$progress-height:                   1.5rem;
$card-border-radius:          .75rem;

// Badges.
$badge-font-weight:           $font-weight-normal;

// Text.
$text-muted:                  $gray-600;

// Border colours.
$border-color:                $gray-300;

// Nav tabs.
$nav-tabs-border-color:             transparent;
$nav-link-padding-y:                .25rem;
$nav-link-padding-x:                0;

// // Border radii.
// $border-radius:      .25rem;
// $border-radius-lg:   .3rem;
// $border-radius-sm:   .2rem;

// // Components.
// $breadcrumb-bg: #fff;
// $breadcrumb-divider-color: $gray-400;

// // Headings.
// $headings-font-weight: 300;

// // Form variables.
// $input-color: $gray-800;
// $form-group-margin-bottom: 1.25rem;
// $input-group-addon-bg: $gray-100;

// // Button focus ring.
// $input-btn-focus-box-shadow: none;
// $input-btn-focus-width: 0;

// // How opaque disabled buttons are.
// $btn-disabled-opacity: .55;

// // $table-hover-bg: rgba($black, .035);

// // $breadcrumb-bg: $white;
// // $breadcrumb-divider-color: $gray-400;
// // $headings-font-weight: 100;
// // $card-cap-bg: rgba($gray-900, .03);
// // $pagination-border-color: transparent;
// // $pagination-hover-bg: $gray-100;
// // $pagination-disabled-color: $gray-400;
// // $pagination-disabled-border-color: $white;
// // $pagination-hover-border-color: $white;
// // $alert-border-width: 0;
// // $yellow: #F39C12;
// // $line-height-base: 1.75;
// // $headings-margin-bottom: $spacer;
// // $font-family-sans-serif: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
// // $form-group-margin-bottom: 1.25rem;
// // $border-width: 2px;
// // // $border-radius: .2rem;
// // $table-cell-padding-sm: 0.5rem;
// // $table-cell-padding: 0.8rem;
// // $table-hover-bg: rgba($black, .035);
// // $table-accent-bg: rgba($black, .025);
// // // $headings-font-weight: 200;
// // // $card-cap-bg: rgba($gray-900, .03);
// // // $pagination-border-color: transparent;
// // // $pagination-hover-bg: $gray-100;
// // // $pagination-disabled-color: $gray-400;
// // // $pagination-disabled-border-color: #fff;
// // // $pagination-hover-border-color: #fff;
// // // // Components.
// // // $breadcrumb-bg: $white;
// // // $breadcrumb-divider-color: $gray-400;
// // // $headings-font-weight: 200;
// // // $card-cap-bg: rgba($gray-900, .03);
// // // // $border-radius: .15rem;
// // // $pagination-border-color: transparent;
// // // $pagination-hover-bg: $gray-100;
// // // $pagination-disabled-color: $gray-400;
// // // $pagination-disabled-border-color: $white;
// // // $pagination-hover-border-color: $white;

// // // // $breadcrumb-bg: $white;
// // // // $breadcrumb-divider-color: $gray-400;
// // // // $headings-font-weight: 200;
// // // // $card-cap-bg: rgba($gray-900, .03);
// // // // $border-radius: .15rem;
// // // // $pagination-border-color: transparent;
// // // // $pagination-hover-bg: $gray-100;
// // // // $pagination-disabled-color: $gray-400;
// // // // $pagination-disabled-border-color: $white;
// // // // $pagination-hover-border-color: $white;
// // $alert-border-width: 0;
// // // // $yellow: #F39C12;
// // // // // @brand-primary:         #000000;
// // // // // // @brand-primary:         #003f5d;
// // // // // @brand-secondary:       #338fd6;
// // // // // // @brand-secondary:       #338fd6;
// // // // // @brand-success:         #5cb85c;
// // // // // @brand-info:            #5bc0de;
// // // // // @brand-warning:         #f0ad4e;
// // // // // @brand-danger:          #d9534f;
